$button-padding: 1rem 2rem;
$button-radius: 80px;

.bg- {
  &primary {
    background-color: $primary;
  }

  &grey {
    background-color: $grey;
  }

  &light-grey {
    background-color: $light-grey;
  }

  &white {
    background-color: $white;
  }
}

.ma-0 {
  margin: 0px !important;
}

$button-palette: (
  primary: $primary
);

.hidden {
  display: none !important;
}