$button-padding: 1rem 2rem;
$button-radius: 80px;

small {
  font-size: 0.75rem !important;
}

.text- {
  &primary {
    color: $primary;
  }

  &grey {
    color: $grey;
  }

  &light-grey {
    color: $light-grey;
  }

  &dark-grey {
    color: $dark-grey;
  }

  &font-light {
    color: $font-light;
  }

  &bold {
    font-weight: 600;
  }
}

.bg- {
  &primary {
    background-color: $primary;
  }

  &grey {
    background-color: $grey;
  }

  &light-grey {
    background-color: $light-grey;
  }
}

.caps {
  text-transform: uppercase;
}

.ma-0 {
  margin: 0px !important;
}

$button-palette: (
  primary: $primary
);

.hidden {
  display: none !important;
}