nav {
  .fixed {
    position: fixed;
    width: 100%;
    z-index: 90;
  }

  #toolbar-wrapper {
    padding: 0.5rem;

    .basket {
      img {
        margin-right: 0.4rem;
      }
    }

    small {
      color: $body-font-color;
    }
  }

  #mid-menu-wrapper {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    p {
      line-height: 1rem;
    }
  }

  #mobile-menu-wrapper .top-bar {
    background-color: $light-grey;
    padding: 1rem;
  }

  .input-group {
    .input-group-label {
      background-color: $white;
      border-left: none;
      border-radius: 0px 100px 100px 0px !important;
      padding: 15px 15px;
    }
    .input-group-field {
      border-radius: 100px 0px 0px 100px !important;
      border-right: none;
      box-shadow: none;
      padding: 25px 15px;
    }
  }

  #mobile-menu {
    padding: 1rem 1rem;
    position: absolute;
    z-index: 10;
    ul li a {
      color: $primary;
      text-align: center;
    }
  }

  #main-menu-wrapper {
    &.fixed {
      top: 2.5rem;
    }

    ul li {
      &:not(:first-child) {
        border-left: 1px solid rgba($light-grey, 0.2);
      }

      & a {
        color: $white;
      }

      &:hover {
        transition: all 0.3s;
        background-color: lighten($primary, 15%);
      }
    }
  }

  #search-bar {
    z-index: 10;
    width: 60%;
    position: absolute;
    padding: 2rem 0rem;
    margin-left: 4rem;

    input {
      max-width: 100%;
    }
  }

  #mobile-menu,
  #search-bar {
    background-color: $light-grey;
    color: $grey;
  }

  .menu-icon::after {
    background: $grey !important;
    box-shadow: 0 7px 0 $grey, 0 14px 0 $grey !important;
  }

  #basket-dropdown {
    position: fixed;
    z-index: 100;
    p {
      margin-bottom: 0.5rem;
    }
    .grid-x:first-child {
      border-bottom: 1px solid #e7eaef;
    }
    a {
      text-decoration: underline;
    }

    .basket-product {
      margin-top: 1rem;
      i {
        margin: 0.5rem 0rem 1.5rem 1.5rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .total {
      border-top: 1px solid #e7eaef;
      margin-top: 1.5rem;
      padding-top: 1rem;

      small {
        margin-left: 0.3rem;
      }
    }
    .checkout {
      margin-top: 1rem;
    }
  }
}
