#toolbar-wrapper {
  padding: 10px 0px;
}

#mid-menu-wrapper {
  padding: 10px 0px;
}

.input-group {
  font-size: 1rem;
  .input-group-label {
    background-color: white;
    border-left: none;
    border-radius: 0px 100px 100px 0px;
    padding: 15px 15px;
  }
  .input-group-field {
    border-radius: 100px 0px 0px 100px;
    border-right: none;
    box-shadow: none;
    padding: 25px 15px;
  }
}

#main-menu-wrapper {
  ul li a {
    color: white;
  }
}
