nav {
  .fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  #toolbar-wrapper {
    padding: 0.5rem;

    .basket {
      img {
        margin-right: 0.4rem;
      }
    }

    small {
      font-weight: 600;
      color: $body-font-color;
    }
  }

  #mid-menu-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #mobile-menu-wrapper .top-bar {
    background-color: $light-grey;
    padding: 1rem;
  }

  .input-group {
    font-size: 1rem;
    .input-group-label {
      background-color: white;
      border-left: none;
      border-radius: 0px 100px 100px 0px !important;
      padding: 15px 15px;
    }
    .input-group-field {
      border-radius: 100px 0px 0px 100px !important;
      border-right: none;
      box-shadow: none;
      padding: 25px 15px;
    }
  }

  #mobile-menu {
    padding: 1rem 1rem;
    position: absolute;
    z-index: 10000;
    ul li a {
      color: $primary;
      text-align: center;
    }
  }

  #main-menu-wrapper {
    &.fixed {
      top: 2.5rem;
    }

    ul li {
      &:not(:first-child) {
        border-left: 1px solid rgba($light-grey, 0.2);
      }

      & a {
        color: $white;
      }

      &:hover {
        transition: all 0.3s;
        background-color: lighten($primary, 15%);
      }
    }
  }

  #search-bar {
    z-index: 1000;
    width: 60%;
    position: absolute;
    padding: 2rem 0rem;
    margin-left: 4rem;

    input {
      max-width: 100%;
    }
  }

  #mobile-menu,
  #search-bar {
    background-color: $light-grey;
    color: $grey;
  }
}

.menu-icon::after {
  background: $grey !important;
  box-shadow: 0 7px 0 $grey, 0 14px 0 $grey !important;
}
